html, body{
    margin: 0;
    background-color:rgb(220, 220, 220)
    font-family: 'segoe UI', Tahoma, Geneva, verdana, sans-serif;
}


header {
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid rgb(220, 220, 220);
    box-shadow: 0 0 10px rgba(0, 0, 0,75;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 30%;
    text-align: center;
    font-size: 24px;
    color: rgb(40, 40, 40);
    margin: 0;
}

nav>{
    width: 70%;
}
nav a {
    margin: 0px;
    padding: 10px 5px;
    text-decoration: none;
    color:rgb(40, 40, 40)
}
main {
    height: calc(100% - 51px);
    overflow-y: scroll;
}


#accroche h2{
    height: 100%;
    background-color: rgb(7, 7, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accroche h2 {
    text-transform: uppercase;
    color: white;
    font-size: 34px;
    margin: 0;
    margin-bottom: 40px;
}

.lien {
    color: white;
    background: linear-gradient(red, blue);
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
}
.lien:hover {
    background: rgb(245, 245 green, blue 245);
    color: rgb(40, 40, 40))
}

#exemple {
    background-color: white;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#exemple h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    color: rgb(40, green 40, blue 40);
}

#exemple ul {
    display: flex;
    list-style: none;
}

.exmempleComposition {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(230, 230, 230);
    margin: 20px;
    box-shadow:0 0 10px rgb(0, 0, 0, 0.15);
    border-radius: 5px;
}

.exmempleComposition div {
    background-image: url("../image/275940394_109042351738679_4340680941791344130_n.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.er1 {
    background-image: url(../image/275940394_109042351738679_4340680941791344130_n.png);
}

.er2 {
    background-image: url(../image/275940394_109042351738679_4340680941791344130_n.png);
}

.er3 {
    background-image: url(../image/275940394_109042351738679_4340680941791344130_n.png);
}

.exmempleComposition h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 24px;
    color: rgb(40, 40, 40);
}

.exmempleComposition p {
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 14px;
    color:rgb(40, 40, 40)
}